<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/investor-dashboard.css">
    <link rel="stylesheet" href="/css/startup-detail.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
        <div id="bg-image">
            <div class="bg-content">
                <h3>Welcome, <%= startup.startupName %></h3>
            <p><span class="material-icons">
                location_on
                </span><%= startup.city %>,<%= startup.country %></p>
            </div>
        </div>
        <div class="fluid-conatiner">
            <div class="row">
                <div class="col-sm-12">
                  <ul class="invest-display" style="font-size: 20px; margin-top: 5px;">
                      <li>
                          <a href="/startup-detail-page/<%= startup._id %>">Overview</a>
                      </li>
                      <li>
                          <a href="#expertise">Pitch Detail</a>
                      </li>
                      <li>
                        <form action="/startup-request" method="post">
                            <input type="hidden" name="id" value="<%= startup._id %>">
                            <button class="btn btn-primary" type="submit">Send Request</button>
                        </form>
                      </li>
                      <% if (!isAuthenticated) { %> 
                      <li>
                        <a href="/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="padding: 10px 30px">Login</a>
                      </li>
                      <% } %>
                  </ul>   
                </div>
            </div>
        </div>
    </header>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 pt-5">
                <h3>Short Summary</h3>
                <p><%= startup.startup_summary %> %></p>
                <!-- <div class="expertise pt-5" id="expertise">
                    <h3>Areas of Expertise</h3>
                    <p></p>
                </div> -->
            </div>
            <div class="col-sm-4 pt-5">
                <h4>Overview</h4>
                <hr>
                <div class="row-structure">
                    <p>Target</p>
                    <h5>Rs: <%= startup.total_amount %></h5>
                </div>
                <hr>
                <div class="row-structure">
                    <p>Per Investor</p>
                    <h5>Rs: <%= startup.per_investor %></h5>
                </div>
                <hr>
                <div class="row-structure">
                    <p>Investment Raise</p>
                    <h5>Rs: <%= startup.raised %></h5>
                </div>
                <hr>
                <div class="row-structure">
                    <p>Satge</p>
                    <h5><%= startup.stage %></h5>
                </div>
                <hr>
            </div>
            
        </div>
    </div>
</body>
</html>